DATABASE_URL=postgresql://...NE_PAS_REVELER_SURTOUT_LE_MOT_DE_PASSE
# SOURCE_DATABASE_URL=postgresql://...URL_DE_L_ANCIENNE_BASE_A_MIGRER
SECRET_KEY=modifiez_moi_en_production
FRONTEND_URL=http://localhost:8080
VITE_API_URL=http://localhost:3000

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
